

    <section id="banner" class="banner">
          <div class="overlay py-5 d-flex align-items-center justify-content-center justify-content-md-start">
            <div class="greeting">
                <h2 class="w-100 text-center clr_orange text-md-start">Bom dia!</h2>
                <h3 class="w-100 text-center clr_orange text-md-start">Seja Bem Vindo!</h3>
                <p class="w-100 text-center clr_orange-200 text-md-start">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem architecto atque minus libero, impedit veritatis corporis laudantium at dolore! Non exercitationem inventore commodi cumque dolor ipsum accusantium nisi voluptatum?
                </p>
            </div>
          </div>
    </section>