

<section id="courses" class="courses">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Cursos</h1>
            <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
          </div>
        </div>
    </section>
    <div class="container_cards d-flex flex-wrap align-items-center justify-content-around">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header border-secondary">Header</div>
                <div class="card-body">
                    <h5 class="card-title">secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            <div class="card-footer border-secondary">Footer</div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header border-secondary">Header</div>
                <div class="card-body">
                    <h5 class="card-title">secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            <div class="card-footer border-secondary">Footer</div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header border-secondary">Header</div>
                <div class="card-body">
                    <h5 class="card-title">secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            <div class="card-footer border-secondary">Footer</div>
        </div>
    </div>
</section>