*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --clr-title: #fd7e14;
  --clr-title_section: #fd5614;
  --clr-subtitle: #f7a25d;
  --clr-subtitle_section: #db683a;
  --clr-text: #ddd;
  --clr-text_card: #fafafa;
  --bg-clr-primary: #383B3F;
  --bg-clr-secondary: #e0eaf7;
  --bg-clr: #fff;
  --br-dark: #131520;
}

/* THEME */

html[data-theme='light']{
  --bg-clr: #fff;
  --clr-title_section: #fd5614;
  --clr-text: #383737;
}

html[data-theme='dark']{
  --bg-clr: #131520;
  --clr-title_section: #fd5614;
  --clr-text: #e0eaf7;
}


/* classes */
.clr-title{
  color: var(--clr-title);
}

.clr-title_section{
  color: var(--clr-title_section);
}

.clr-subtitle{
  color: var(--clr-subtitle);
}

.clr-subtitle_section{
  color: var(--clr-subtitle_section);
}

.clr-text{
  color: var(--clr-text)
}

.clr-text_card{
  color: var(--clr-text_card)
}

.experiences.card{
  min-height: 850px !important;
}

/* STYLES */

body{
  background-color: var(--bg-clr) !important;
  color: var(--clr-text) !important;
}

#banner{
  width: auto;
  height: 80vh;
  background: url('../images/logos/Planet_Arcadia.png') no-repeat center;
  background-size: 100% 100%;
}

#banner .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
}

#banner .greeting{
  max-width: 75%;
}

@media (min-width:575px){
  #banner .greeting{
    max-width: 50%;
    margin-left: 15%;
  }
}